<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
<div class="card px-5 py-5">

    
 <h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  
   <% if current_user.admin? %>

     <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , disabled: true  %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" , disabled: true  %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation , disabled: true %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" , disabled: true %>
  </div>

  
  <div>     
     <%= f.select :role_id, Role.all.pluck(:name, :id) %>
  </div>

   <% end %>

   <div class="forms-inputs mb-4">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="forms-inputs mb-4">
    <%= f.label :mobile_no %><br>
    <%= f.text_field :mobile_no %><br>
    
  </div>    

  <div class="forms-inputs mb-4">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>

  <div class="forms-inputs mb-4">
    
    <%= f.select :city_id, City.all.pluck(:city_name, :id) %>

  </div>


   <div class="field">
    <%= f.label :current_password %> <br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

</div>
</div>
     </div>
</div>