<% if user_signed_in?%>


<%= form_with model: user do |form| %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :mobile_no %><br>
    <%= form.text_field :mobile_no %><br>
    
  </div>

    <div>
    <%= form.label :dob %><br>
    <%= form.date_field :dob %>
    
  </div>

      <div>
    <%= form.label :address %><br>
    <%= form.text_field :address %>

  </div>

  


  <div>
    <%= form.submit %>
  </div>
<% end %>
<% end %>

