 <%#if user_signed_in? && %>
<% if User.admin?(current_user) %>
   <div class="col-md-12 text-center">
   <%= link_to "book index", books_url,class:"btn btn-primary" %>
 </div>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Hello, Admin
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Welcome to demo model.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <h1 style="text-align: center" >Users</h1>


  
<div id="table-div">
  <table class="table table-hover" >
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Email</th>
      <th scope="col">Created at</th>
      <th scope="col">Updated at</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <% @users.each do |user| %>
      
             <tr scope="row">
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
        <td><%= user.updated_at %></td>
        <td>
          <div class="btn-group" aria-label="Basic mixed styles example">
          <%= link_to("Edit",edit_user_registration_path(user.id),class: "btn btn-success")%>
          <%= link_to "show",{:controller => 'home',:action => 'show',:id =>user.id},class: "btn btn-warning" %>
          <!-- edit_user_registration_path -->
           <% next if user.admin? %>
           <%= button_to 'delete',{:controller => 'home',:action => 'destroy',:id =>user.id},class: "btn btn-danger",:method => :delete %>
          </div>
        </td>
      </tr>


    <% end %>
  </table>
</div>

         <% else %>
          <% if user_signed_in? %>
           <div>
              <h1><%="Hello,#{current_user.name}"%></h1>
            <%= link_to "Enter Infomation", edit_user_registration_path ,class: "btn btn-primary mb-2"%><br>
                                    <!-- edit_admin_path(current_user.id)           -->
            <%= link_to "show user info","/home/#{current_user.id}" ,class: "btn btn-primary mb-2" %>  <br>                      
            <%= link_to "Enter New Book", {:controller => "books", :action => "new", :user_id => current_user.id },class: "btn btn-primary mb-2"  %><br>
               <%#= link_to "Enter New Book1", new_book_url(:id =>current_user.id) %>    
               <%= link_to "book index", books_url ,class: "btn btn-primary mb-2" %>
           </div>
             
              <% end %> 

                    <% end %>



