
<% if user_signed_in? && current_user.email == "admin@gmail.com" %>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Hello, Admin
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Welcome to demo model.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <h1 style="text-align: center" >Users</h1>


  
<div id="table-div">
  <table class="table" >
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Email</th>
      <th scope="col">Created at</th>
      <th scope="col">Updated at</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <% @users.each do |user| %>
      
             <tr scope="row">
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
        <td><%= user.updated_at %></td>
        <td>
          <%= link_to "show",{:controller => 'home',:action => 'show',:id =>user.id} %>
          <%= link_to("Edit",edit_user_registration_path(user.id))%>

          <!-- edit_user_registration_path -->
         
           <% next if user.admin? %>
          
           <%= button_to 'delete',{:controller => 'home',:action => 'destroy',:id =>user.id},class: "btn btn-primary mb-2",:method => :delete %>
          
        </td>
      </tr>


    <% end %>
  </table>
</div>

         <% else %>
          <% if user_signed_in? %>
            <h1><%="Hello,#{current_user.name}"%></h1>
            <%= link_to "Enter Infomation", edit_user_registration_path %><br>
           
              <% end %>

                    <% end %>



