<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
<div class="card px-5 py-5">

<%= form_with model: book do |form| %>
  <div>
    <%= form.label :user_name %><br>
    <%= form.text_field :user_name %>
    <% book.errors.full_messages_for(:user_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>


  <div>
    <%= form.label :review %><br>
    <%= form.text_area :review %><br>
    <% book.errors.full_messages_for(:review).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
    
 

  <%#=form.hidden_field :user_id, input_html: { value: @user_id } %>
  <%# @id = session[:id] %>
   <%= form.hidden_field :book_id, value: session[:id] %>
  
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
</div>
</div>
     </div>
</div>